header {background-color: crimson;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 23px;
    
}
.img1{
    width: 410px;
 }
 .img2{
    width: 410px;
 }
 .img3{
    width:410px;
 }
 .img4{
    width: 410px;
 }
 .img5{
    width: 410px;
 }
 .img6{
    width: 410px;
 }
 .img7{
    width: 410px;
 }
 .img8{
    width: 410px;
 }
 .img9{
    width: 410px; ;
 }
 

.cabeçalho-lista-imagem{
    display: inline-block;
    margin: 0 16px;
    font-size: 23px;
}

.imagem{
    background-image:linear-gradient() ;
}